<div class="is-clearfix" ng-show="vm.plan.ativo">
	<div class="contract-form">
		<p>Para contratar preencha com os seus dados abaixo:</p>
		<form name="form" ng-submit="vm.sendContract(form.$valid)">
			<div class="form-group w-100">
				<label for="">Nome</label>
				<input type="text" ng-model="vm.contract.name" minlength="3" required="true">
			</div>
			<div class="form-group w-50">
				<label for="">E-mail</label>
				<input type="email" ng-model="vm.contract.email" required="true">
			</div>
			<div class="form-group w-50">
				<label for="">Data de Nascimento</label>
				<input type="text" ng-model="vm.contract.birthDate" required="true" ui-date-mask>
			</div>
			<div class="form-group w-50">
				<label for="">CPF</label>
				<input type="text" ng-model="vm.contract.doc" required="true" ui-br-cpf-mask>
			</div>
			<div class="form-group w-50">
				<label for="">Telefone</label>
				<input type="text" ng-model="vm.contract.phone" required="true" ui-br-phone-number>
			</div>
			<button type="submit" ng-disabled="form.$invalid" class="button">Enviar</button>
		</form>
	</div>
	<plans-detail
		plan="vm.plan"
		class="plan-detail big"
		ng-show="vm.plan.ativo"
		read-only="true"
	>
	</plans-detail>
</div>
<div ng-hide="vm.plan.ativo">Plano inativo !</div>
<a ng-click="vm.goBack()" class="button-back">← Voltar</a>
