<div>
	<div class="review-header">
		<h4 ng-show="vm.readOnly">Plano Selecionado</h4>
	</div>
	<div class="plan-value">
		<p class="title">
			{{vm.plan.franquia}}
			<br>
			<span>de internet</span>
		</p>
		<p class="description">
			<span class="sign">R$</span>{{vm.plan.valor}}<span class="month">/mês</span>
		</p>
	</div>
	<div class="aparelho" ng-show="vm.plan.aparelho">
		<div class="plus">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</div>
		<p class="name">
			{{vm.plan.aparelho.nome}}
		</p>
		<div class="value-wrapper" ng-show="vm.plan.aparelho.valorParcela">
			<p class="pre-value">
				<span class="sign">por {{vm.plan.aparelho.numeroParcelas}}x de</span>
			</p>
			<p class="value">
				<span class="sign">R$</span>{{vm.plan.aparelho.valorParcela}}
			</p>
		</div>
		<div class="value-wrapper" ng-hide="vm.plan.aparelho.valorParcela">
			<p class="value">
				<span class="sign">R$</span>{{vm.plan.aparelho.valor}}
			</p>
		</div>
	</div>
	<button ng-hide="vm.readOnly" ng-click="vm.goToContract(vm.platformSku, vm.plan.sku)" class="button">Contratar</button>
</div>
