<div ng-show="vm.plans.length > 0" class="is-clearfix">
	<p class="sub-title" ng-show="vm.SKU === 'TBT01'">Quer navegar à vontade no seu tablet?</p>
	<p class="sub-title" ng-show="vm.SKU === 'CPT02'">Internet no computador</p>
	<p class="sub-title" ng-show="vm.SKU === 'WF03'">Navegue com roteador</p>
	<p>Escolha seu plano:</p>
	<div class="plans">
		<plans-detail
			ng-repeat="plan in vm.plans"
			plan="plan"
			class="plan-detail"
			ng-class="{big: plan.aparelho}"
			ng-show="plan.ativo"
			read-only="false"
		>
		</plans-detail>
	</div>
	<a ng-click="vm.goBack()" class="button-back">← Voltar</a>
</div>
