// ==========================================================================
// Bulma breakpoints
// ==========================================================================

$tablet: 769px !default
$desktop: 1000px !default
$widescreen: 1192px !default
// 960 and 1152 have been chosen because
// they are divisible by both 12 and 16

=from($device)
  @media screen and (min-width: $device)
    @content

=until($device)
  @media screen and (max-width: $device - 1px)
    @content

=mobile
  @media screen and (max-width: $tablet - 1px)
    @content

=tablet
  @media screen and (min-width: $tablet)
    @content

=tablet-only
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px)
    @content

=touch
  @media screen and (max-width: $desktop - 1px)
    @content

=desktop
  @media screen and (min-width: $desktop)
    @content

=desktop-only
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px)
    @content

=widescreen
  @media screen and (min-width: $widescreen)
    @content


// ==========================================================================
// Basic
// ==========================================================================

=block
  &:not(:last-child)
    margin-bottom: 1.5rem

=clearfix
  &:after
    clear: both
    content: " "
    display: table

=center($size)
  left: 50%
  margin-left: -($size / 2)
  margin-top: -($size / 2)
  position: absolute
  top: 50%

=placeholder
  $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input'
  @each $placeholder in $placeholders
    &:#{$placeholder}-placeholder
      @content

=arrow($color)
  border: 1px solid $color
  border-right: 0
  border-top: 0
  content: " "
  display: block
  height: 0.5em
  pointer-events: none
  position: absolute
  transform: rotate(-45deg)
  width: 0.5em

=loader
  animation: spinAround 500ms infinite linear
  border: 2px solid $light-grey
  border-radius: 290486px
  border-right-color: transparent
  border-top-color: transparent
  content: ""
  display: block
  height: 1rem
  position: relative
  width: 1rem

=title
  font-weight: $weight-light
  text-transform: uppercase

=unselected
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=control
  -moz-appearance: none
  -webkit-appearance: none
  align-items: center
  border: none
  box-shadow: none
  display: inline-flex
  font-size: $size-6
  height: 2.8em
  justify-content: flex-start
  line-height: 1.5
  padding-left: 0.75em
  padding-right: 0.75em
  position: relative
  vertical-align: top
  // States
  &:focus,
  &:active,
    outline: none
  &[disabled],
    pointer-events: none

=overlay($offset: 0)
  bottom: $offset
  left: $offset
  position: absolute
  right: $offset
  top: $offset

=overflow-touch
  -webkit-overflow-scrolling: touch

=delete
  +unselected
  -moz-appearance: none
  -webkit-appearance: none
  background-color: rgba(0, 0, 0, 0.2)
  border: none
  border-radius: 290486px
  cursor: pointer
  display: inline-block
  font-size: $size-normal
  height: 2rem
  outline: none
  position: relative
  transform: rotate(45deg)
  transform-origin: center center
  vertical-align: top
  width: 2rem
  &:before,
  &:after
    background-color: $theme-color
    content: ""
    display: block
    left: 50%
    position: absolute
    top: 50%
    transform: translateX(-50%) translateY(-50%)
  &:before
    height: 2px
    width: 50%
  &:after
    height: 50%
    width: 2px
  &:hover,
  &:focus
    background-color: rgba(0, 0, 0, 0.3)
  &:active
    background-color: rgba(0, 0, 0, 0.4)
