.header
	position: relative
	width: 100%
	height: auto
	display: block
	overflow: hidden
	margin-bottom: 30px

	h2
		font-size: 34px
		font-family: 'Source Sans Pro', sans-serif;
		color: $dark
		line-height: 35px

		span
			font-size: 48px
			font-family: 'Source Sans Pro', sans-serif;
			color: $red
			font-weight: 600
