.main
	position: relative
	width: 100%
	height: auto
	display: block
	overflow: hidden

	.sub-title
		font-size: 20px
		color: $dark
		font-weight: 700

	.plans, .platforms
		display: block
		overflow: hidden
		height: auto

	.button-back
		font-size: 16px
		color: $red
		position: relative
		display: block
		clear: both
		margin: 15px 0


