@-ms-viewport
	width: device-width

html,
body
	min-height: 100%

html
	font-size: $size-6
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	overflow-y: scroll
	text-rendering: optimizeLegibility


body
	background: #e2e2e2
	color: $darker-grey
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%

	.container-modal
		position: relative
		width: 722px
		height: auto
		margin: 50px auto 0
		overflow: hidden
		display: block
		+mobile
			width: 100%
			padding: 0 10px
			max-width: 480px

	article,
	aside,
	figure,
	footer,
	header,
	hgroup,
	section
		display: block

	body,
	button,
	input,
	select,
	textarea
		font-family: $family-primary

	code,
	pre
		-moz-osx-font-smoothing: auto
		-webkit-font-smoothing: auto
		font-family: $family-code

	// Inline

	a
		color: $link
		cursor: pointer
		transition: none $speed $easing
		&:hover
			color: $link-hover
		&:not(.button)
			text-decoration: underline

	p
		margin-bottom: 10px

	code
		font-size: 0.8em
		font-weight: normal
		padding: 0.25em 0.5em 0.25em

	hr
		border: none
		display: block
		height: 1px
		margin: 1.5rem 0

	img
		max-width: 100%

	input[type="checkbox"],
	input[type="radio"]
		vertical-align: baseline

	small
		font-size: 0.8em

	span
		font-style: inherit
		font-weight: inherit

	strong
		font-weight: $weight-bold

	table
		width: 100%
		td,
		th
			vertical-align: top
