// Basics
// ==========================================================================

.is-clearfix
  +clearfix

.is-block
  display: block

.is-pulled-left
  float: left

.is-pulled-right
  float: right

.has-text-right
  text-align: right

.has-text-left
  text-align: left

.has-text-centered
  text-align: center

// Visibility
// ==========================================================================

.is-hidden
  display: none !important

.is-hidden-mobile
  +mobile
  display: none !important

.is-hidden-tablet
  +tablet
  display: none !important

.is-hidden-tablet-only
  +tablet-only
  display: none !important

.is-hidden-touch
  +touch
  display: none !important

.is-hidden-desktop
  +desktop
  display: none !important

.is-hidden-desktop-only
  +desktop-only
  display: none !important

.is-hidden-widescreen
  +widescreen
  display: none !important
