.button
	position: absolute
	bottom: 15px
	width: 210px
	background-color: #d52b1e
	border: 0
	border-bottom: 6px solid #c0271b
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	color: #fff
	cursor: pointer
	display: inline-block
	font-size: 14px
	line-height: 14px
	outline: 0
	padding: 10px 0
	text-decoration: none
	text-transform: uppercase
	transition: background-color 0.2s ease
	left: 5%

	&:hover
		background: #c0271b
