.contract-form
	position: relative
	width: 480px
	height: 350px
	padding: 15px
	background: $white
	display: block
	float: left
	border: 1px solid #e2e2e2
	overflow: hidden
	+mobile
		width: 100%
		height: auto
		padding-bottom: 100px

	p
		font-size: 16px

	.form-group
		float: left
		padding: 0 5px
		margin-bottom: 10px

		&.w-50
			width: 50%

		&.w-100
			width: 100%

		+mobile
			width: 100% !important

	label, input
		display: block
		width: 100%
		font-size: 14px
		font-weight: 600

	input
		height: 30px
		padding: 0 10px
		border-bottom: 1px solid #000
		border-top: 0
		border-left: 0
		border-right: 0
		transition: border 0.5s

		&.ng-dirty.ng-invalid
			border-bottom: 2px solid $red

		&.ng-dirty.ng-valid
			border-bottom: 2px solid $green

	button
		position: absolute
		right: 20px
		left: auto
		bottom: 15px
		&[disabled]
			opacity: 0.5
		+mobile
			width: 90%
			right: 5%

