.platform-detail
	position: relative
	width: 240px
	height: 200px
	padding: 15px
	background: $white
	display: block
	float: left
	border: 1px solid #e2e2e2
	+mobile
		width: 100%

	.title
		color: #d52b1e
		text-transform: uppercase
		font-size: 24px
		line-height: 21px
		font-weight: 600
		margin-bottom: 20px

	.description
		color: $dark
		font-size: 18px

	button
		+mobile
			width: 90%
			left: 5%
