.plan-detail
	position: relative
	width: 240px
	height: 230px
	padding: 15px
	background: $white
	display: block
	float: left
	border: 1px solid #e2e2e2
	text-align: center
	+mobile
		width: 100%

	&.big
		height: 350px

	.review-header
		h4
			width: 100%
			background: $red
			color: $white
			margin-bottom: 20px
			line-height: 30px
			font-size: 18px

	.title
		color: #d52b1e
		text-transform: uppercase
		font-size: 34px
		line-height: 21px
		font-weight: 600
		margin-bottom: 20px

		span
			font-size: 18px
			text-transform: none

	.month, .sign
		font-size: 14px
		font-weight: 200

	.description
		color: $dark
		font-size: 35px
		font-weight: 700

	.aparelho
		.plus
			font-size: 18px
			margin-bottom: 15px
		.name
			color: #d52b1e
			text-transform: uppercase
			font-size: 20px
			font-weight: 600

		.value-wrapper
			.pre-value
				font-size: 18px
				text-transform: none
			.value
				color: $dark
				font-size: 35px
				font-weight: 700
				line-height: 24px

	button
		+mobile
			width: 90%
			left: 5%
